body
{
  background-image: url(picture/Pokémon.full.348825.jpg)
}

h1
{
  text-align: center;	color: silver;
}

h2
{
  color: lightblue;
}

p
{
  color: white;
}

#topic
{
  text-align: center;
}

#topic
{

}
